# OS
.DS_Store
Thumbs.db
ehthumbs.db

# Editors
.vscode/
.idea/
*.swp
*.swo
*~

# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
.venv/
venv/

# Node
node_modules/
package-lock.json

# Java (App 5)
target/
*.class
*.jar
*.war
.gradle/

# Logs
*.log

# Temp
*.tmp
*.bak
